<h1>"Let's play!"</h1>
<h2>You have selected the <%= @deck.title %> deck.</h2>
<p>There are <%= @deck.cards.count %> questions</p>

<button class="button"><%= link_to "Play!", rounds_url(deck_id: @deck.id), method: :post %></button>


